name: Build Windows EXE

on:
  push:
    tags:
      - "v*.*.*"

jobs:
  build:
    runs-on: windows-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.10"

      - name: Install dependencies
        run: |
          pip install pyinstaller requests PyQt6

      - name: Build EXE
        run: |
          pyinstaller --noconfirm build.spec

      - name: Release the Package
        uses: softprops/action-gh-release@v2
        with:
          files: dist\\Linua-Updater.exe